.header_container {
    padding-left: 24px;
    padding-right: 21px;
    position: relative;
}

.header_logo {
    padding-top: 20px;
}

.header_title {
    width: 350px;
    margin-top: 53px;

    font-weight: 700;
    font-size: 40px;
    line-height: 112%;

    color: #556645;
}

.header_description {
    width: 250px;
    margin-top: 20px;

    font-size: 14px;
    line-height: 17px;
    color: #433836;
}

.header_button {
    width: 163px;
    height: 48px;
    margin-top: 20px;

    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    color: #FFFEFC;

    border-radius: 6px;

    outline: none;
    border: none;
    background-color: #556645;
}

.header_background_bottle_drops {
    width: 270px;
    height: 270px;
    margin-bottom: 40px;
    margin-top: 20px;
    margin-left: -24px;
}


/* Animation */
.header_background_bottle {
    margin-top: 60px;
    margin-bottom: 100px;
    margin-left: -24px;
    transform-origin: 0 0;
    transform: rotate(0);

    animation: linear infinite 6s bottle_rotate;
}

@keyframes bottle_rotate {
    0% {
        transform-origin: 0 0;
        transform: rotate(0);
    }
    10% {
        transform-origin: 0 0;
        transform: rotate(0);
    }
    30% {
        transform-origin: 0 0;
        transform: rotate(15deg);
    }
    90% {
        transform-origin: 0 0;
        transform: rotate(15deg);
    }
    100% {
        transform-origin: 0 0;
        transform: rotate(0);
    }
}

.header_background_drop_one {
    margin-top: 60px;
    margin-bottom: 100px;
    margin-left: 150px;
    transform: translateY(-70px);
    opacity: 0;

    animation: linear infinite 6s drops_down;
}

.header_background_drop_two {
    margin-top: 60px;
    margin-bottom: 100px;
    margin-left: 150px;
    transform: translateY(-70px);
    opacity: 0;

    animation: linear infinite 6s drops_down;
}

.header_background_drop_three {
    margin-top: 60px;
    margin-bottom: 100px;
    margin-left: 150px;
    transform: translateY(-70px);
    opacity: 0;

    animation: linear infinite 6s drops_down;
}

@keyframes drops_down {
    0% {
        opacity: 0;
        transform: translateY(-70px);
    }
    30% {
        opacity: 0;
        transform: translateY(-70px);
    }
    45% {
        opacity: 1;
        transform: translateY(-70px);
    }
    85% {
        opacity: 1;
        transform: translateY(100px);
    }
    100% {
        opacity: 0;
        transform: translateY(100px);
    }
}