.app_footer {
    margin-top: 215px;

    position: relative;
}

.footer_container {
    margin-left: 24px;
    margin-right: 24px;
    padding-top: 515px;
}

.footer_header {
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    color: #FFF8ED;
}

.footer_share {
    display: block;

    margin-top: 20px;

    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    color: #FFF8ED;
}

.footer_list {
    width: 200px;
    list-style: none;
    margin-top: 30px;
    padding: 0;

    display: flex;
    justify-content: space-between;
}

.footer_qr_container {
    margin-top: 56px;
    display: flex;
}

.footer_qr_text {
    margin-left: 24px;

    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #FFF8ED;
    text-decoration: underline;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer_bottle {
    position: absolute;

    top: -110px;
    left: 30px;
}

.footer_sponsored_container {
    margin-top: 36px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_sponsored_text {
    font-size: 10px;
    line-height: 13px;
    font-weight: 400;
    color: #FFF8ED;
}

.footer_background {
    width: 100%;
    height: 1050px;

    background-size: cover;
    background-repeat: no-repeat;

    position: absolute;

    z-index: -5;
    top: 0;
    left: 0;
}

.footer_root_first {
    position: absolute;

    top: 10px;
    right: 0;
    z-index: -3;
}

.footer_root_second {
    position: absolute;

    top: 100px;
    right: 0;
    z-index: -4;
}