.background_container {

}

.background_tree_top {
    position: absolute;
    right: 0;
    top: -10px;
}

.background_tree_trunk {
    width: 31px;
    height: 5000px;
    background-color: #FFA775;

    position: absolute;
    right: 0;
    z-index: -10;
}

.background_tree_branch {
    position: absolute;
    right: 14px;
}